#filterConcerts {
  display: block;
  text-align: center;
  width: 700px;
  margin: 0px auto;
  padding: 20px;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  opacity: 0.93;
  margin-top: 10px;
}

.nav-pills{
  background-color: black !important;
  border-radius: 10px;
}

