<!-- <div id="bannerimage"> -->
<h3 id="searchH3" class="text-center">Search</h3>
<div id="searchForm">
  <form>
    <input
      class="form-control"
      type="text"
      name="city"
      placeholder="City"
      [(ngModel)]="searchParams['city']"
    />
    <input
      class="form-control"
      type="text"
      name="state"
      placeholder="State"
      [(ngModel)]="searchParams['state']"
    />
    <input
      class="form-control"
      type="text"
      name="performer"
      placeholder="Performer"
      [(ngModel)]="searchParams['performer']"
    />
    <hr />
    <button class="btn btn-dark" (click)="searchSG()">Search</button>
  </form>
</div>
<!-- </div> -->
<hr />
<div *ngIf="sgList" id="concertsList">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let concert of sgList">
      <div class="col">
        <div class="card h-100">
          <div
            *ngFor="
              let performer of concert.performers;
              let i = index;
              let first = first
            "
          >
            <div *ngIf="first">
              <img src="{{ performer.imageUrl }}" class="card-img-top" />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ concert.title }}</h5>
            <p class="card-text">
              {{ concert.concertDate | date: "MM-dd-yyyy h:mm a" }}
            </p>
            <h5>Venue: {{ concert.venue.name }}</h5>
            <p class="card-text">
              {{
                concert.venue.city +
                  ", " +
                  concert.venue.state +
                  " " +
                  concert.venue.country +
                  " " +
                  concert.venue.postalCode
              }}
            </p>
            <h5>Performers</h5>
            <div *ngFor="let performer of concert.performers">
              <p class="card-text">
                {{ performer.name }}
              </p>
            </div>
            <div class="card-footer">
              <div *ngIf="concert.id === 0">
                <a
                  class="btn btn-primary"
                  href="{{ concert.ticketUrl }}"
                  role="button"
                  style="margin-right: 10px;"
                  >Tickets</a
                >
                <button (click)="saveConcert(concert)" class="btn btn-primary">
                  Save Concert
                </button>
              </div>
              <div *ngIf="concert.id > 0">
                <h3>
                  <a
                    class="btn btn-primary"
                    href="{{ concert.ticketUrl }}"
                    role="button"
                    style="margin-right: 10px;"
                    >Tickets</a
                  >
                  <span class="badge bg-success">Saved</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
