
#searchH3 {
  font-size: 200%;
	text-transform: uppercase;
	text-shadow: 1px 1px 5px #000;
}

#searchForm {
  display: block;
  text-align: center;
  width: 700px;
  margin: 0px auto;
  padding: 20px;
  color: white;
  border: 1px solid #fff;
  border-radius: 10px;
  opacity: 0.93;
}

#concertsList {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

