<form>
  <input
    class="form-control"
    type="text"
    name="city"
    placeholder="City"
    [(ngModel)]="searchParams['city']"
  />
  <input
    class="form-control"
    type="text"
    name="state"
    placeholder="State"
    [(ngModel)]="searchParams['state']"
  />
  <input
    class="form-control"
    type="text"
    name="performer"
    placeholder="Performer"
    [(ngModel)]="searchParams['performer']"
  />
  <button (click)="searchSG()">Search</button>
</form>

<div *ngIf="sgList">
  <div *ngFor="let concert of sgList">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="{{ concert.title }}">
        <ng-template ngbPanelContent>
          <div class="card mb-3">
            <img
              src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title">{{ concert.title }}</h5>
              <p class="card-text">
                {{ concert.concertDate | date: "MM-dd-yyyy h:mm a" }}
              </p>
              <p class="card-text">
                <small class="text-muted"
                  ><small
                    ><a href="{{ concert.ticketUrl }}">Tickets</a></small
                  ></small
                >
              </p>
              <div *ngIf="!savedButton">
                <button (click)="saveConcert(concert)">Save Concert</button>
              </div>
              <div *ngIf="savedButton">
                <button >Concert Saved</button>
                <button>View Saved Concerts</button>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
