<div id="bannerimage">
  <h1 id="bannerH1">Concert Tracker</h1>
</div>
<hr>

<div class="container-fluid padding">
	<div class="row welcome text-center">
		<div class="col-12">
			<h1 class="display-4">Keep Track Of Upcoming Concerts</h1>
		</div>
		<hr>
		<div class="col-12">
			<p class="lead">Welcome to my Concert Tracker! Search for any concert by City, State, and/or Performer!
        If you want to keep track of that concert, you can save it and even add personal comments/notes!
        You can at any time unsave a concert you no longer would like to keep track of!
      </p>
		</div>
	</div>
</div>

